    @*<h2>Featured post of the week</h2>*@
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width:100%; background:#f3f3f3; padding:0 1em 2em 1em;">

        <h3>Know more about how IT makes your life more comfortable</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis est quis facilisis molestie. Proin aliquam mi eget eros lobortis, eget dignissim est venenatis. Donec quis lacinia ipsum, ac dignissim neque. Duis velit nibh, consectetur quis placerat vel, tristique at leo. Nunc a dui nisl. In nunc erat, varius lobortis quam eget, efficitur blandit elit. Cras tincidunt mattis lectus, ut molestie lorem tempus vitae. Nam imperdiet nec magna quis malesuada. Sed ultricies mattis feugiat. Praesent volutpat lobortis nibh at pharetra. Nullam eget dignissim turpis. Aenean euismod, massa aliquet sodales rhoncus, neque purus hendrerit nulla, sit amet ornare libero elit et velit. Aliquam vitae diam tellus. Pellentesque a varius elit.</p>
        <button type="button" class="btn btn-primary">Read the full article</button>
    </div>

