<div class="col-xs-12 col-sm-12 col-md-4 col-lg4">
    <div class="horizon-panel horizon-panel-info">
        <div class="horizon-panel-title"><span class="glyphicon glyphicon-globe"></span> Languages statistics <span class="glyphicon glyphicon-eye-close pull-right"></span>
        </div>
        <div class="horizon-panel-body">
            <div class="col-md-4 col-lg-4">
                <canvas style="display:block;" id="myChart" width="75" height="75"></canvas><h2 class="text-center">265</h2>
            </div>
            <div class="col-md-4 col-lg-4">
                <canvas style="display:block;" id="myChart" width="75" height="75"></canvas><h2 class="text-center">265</h2>
            </div>
            <div class="col-md-4 col-lg-4">
                <canvas style="display:block;" id="myChart" width="75" height="75"></canvas><h2 class="text-center">265</h2>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg4">
    <div class="horizon-panel horizon-panel-default">
        <div class="horizon-panel-title">
            Pages statistics
        </div>
        <div class="horizon-panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor orci est, a ultrices mi semper venenatis. Vivamus id leo quam.</p>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg4">
    <div class="horizon-panel horizon-panel-default">
        <div class="horizon-panel-title">
            Users statistics
        </div>
        <div class="horizon-panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor orci est, a ultrices mi semper venenatis. Vivamus id leo quam.</p>
        </div>
    </div>
</div>
