<div class="user-profile-container">
    <div class="user-profile">
        <span class="glyphicon glyphicon-user" style="font-size:3.0em;"></span>

    </div>
    <p class="text-center"><a href="#">@User.Identity.Name!</a></p>
</div>